/* Styling for product cards */
.product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for product cards */
.product-card:hover {
  background-color: #f7f7f7;
  color: black;
}

/* Styling for card images */
.card-img-top {
  max-width: 100%;
  height: auto;
}

/* Styling for card body */
.card-body {
  padding: 1rem;
}

/* Styling for product card text center */
.product-card .text-center h5 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Styling for product card text center span */
.product-card .text-center span {
  color: #777;
}

/* Styling for card footer */
.card-footer {
  padding: 1rem;
  border-top: none;
  background-color: transparent;
}

/* Styling for card footer button */
.card-footer .btn {
  width: 100%;
  height: 20%;
}

/* Hover effect for card footer button */
.card-footer .btn:hover {
  opacity: 0.8;
}
